<!DOCTYPE html>
<html lang="en">
    <head>
        <% include layouts/head.html %>
    </head>
    <body>
        <% include layouts/navigation.html %>
        <br><br>
        <div class="container">
            <header class="row">
                <div class="col-lg-12 text-center">
                    <img src="/img/Amazon.png" alt="Yo habia ponido mi imagen aki">
                </div>
            </header>
        </div>
        <br><br>
        <!--SECTION 1-->
        <div class="container-fluid" id="about">
            <div class="row bg-dark text-white p-4 text-center">
                <div class="col-sm-6">
                    <i class="fab fa-amazon fa-8x"></i>
                </div>
                <div class="col-sm-6">
                    <h3>Kill Me plis</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nam ut sit porro minima vitae, aliquid labore possimus dolore qui atque, error delectus corrupti magni aut eaque! Id, cumque qui.</p>
                </div>
            </div>
        </div>

        <% include layouts/footer.html %>
    </body>
</html>